/* taliwindCSS import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset default CSS styles */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--bg-black);
}

/* --------------------------MAIN STYLES------------------------ */

/* Imported fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* Colors */
  --bg-black: #0a0a0a;
  --bg-dark: #171717;
  --bg-transparent-black: #171717cb;
  --bg-gray-dark: #262626;
  --bg-gray-light: #2c2c2c;
  --yellow: #eab308;
  --clr-gray: #6b7280;
  --clr-text-gray: #737373;

  /* Fonts */
  --f-title: "Poppins", sans-serif;
  --f-paragraph: "Roboto", sans-serif;
}

@layer utilities {
  .f-title {
    font-family: var(--f-title);
  }

  body {
    @apply font-[Roboto];
  }

  ul {
    @apply text-gray-400;
  }

  li {
    @apply cursor-pointer;
    @apply hover:text-[#fff];
  }
}
